<footer class="footer">
		<small class="navbar-text">
			<a href="http://railstutorial.org/" class="navbar-link">Rails Tutorial</a>
			by Michael Hartl
		</small>
		<nav class="navbar-text navbar-right">
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><a href="http://news.railstutorial.org/" class="navbar-link">News</a></li>
			</ul>
		</nav>
</footer>